.bingo-header {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bingo-content {
	width: 100%;
	margin-bottom: 20px;
	overflow-x: auto;
    overflow-y: hidden; 
}

.rewards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.reward-card {
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.reward-card:hover {
    transform: translateY(-10px);
}

.reward-card.claimed {
    background-color: #B3D4B4;
    border: 1px solid #528F55;
    color: #528F55;
}

.reward-icon {
    font-size: 40px;
}

.reward-card.unclaimed {
    background-color: #ffeeba;
    border: 1px solid #d39e00;
    color: #856404;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapped-present {
    font-size: 50px;
    color: #d39e00;
}

.wrapped-present .fa-gift {
    font-size: 50px;
}

.bingo-table {
    width: 100%;
    border-collapse: separate;
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid #EFEFEF;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bingo-table td {
    width: 20%;
    height: 100px;
    max-height: 100px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #EFEFEF;
    background-color: #f9f9f9;
}

.bingo-cell.completed {
    background-color: #B3D4B4;
    color: #528F55;
}

.bingo-cell {
    background-color: #f9f9f9;
}

.bingo-table td:hover {
    background-color: #e2e6ea;
}

.bingo-cards-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
}

.bingo-card-item {
    background-color: #FAFAFA;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bingo-card-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.bingo-card-link {
    text-decoration: none;
    color: #333;
    display: block;
}

.bingo-card-icon {
    font-size: 40px;
    color: #528F55;
    margin-bottom: 15px;
}

.bingo-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.bingo-card-item:hover .bingo-card-icon {
    color: #6AAA6D;
}

.bingo-button {
    padding: 15px 30px;
    font-size: 16px;
    background-color: #528F55;
    color: #FAFAFA;
    text-decoration: none;
    border-radius: 5px;
}
.bingo-button:hover {
    background-color: #6AAA6D;
    color: #333333;
}
